<h1>Date 27 Setptember 2016</h1>
<div>
  <table class='table table-bordered'>
    <tr>
      <th>Item</th>
      <th>Quatity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <tbody>
      <tr>
        <td>IPhone</td>
        <td>1</td>
        <td>2,450</td>
        <td>2,450</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>2,450</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Tax</td>
        <td>245</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>2205</td>
      </tr>
    </tbody>
  </table>
</div>